{% load static %} {% load crispy_forms_tags%}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/estilo-geral.css'%}"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" defer src="{% static 'js/ficha.js'%}""></script>
  <title>Tcc</title>
</head>

{% block content %}
<body>
  <header>
    <img
      style="float: left"
      class="dragao-header"
      src="{% static 'imagens/dragao-header.png' %}"
    />
    SPAJ
    <img
      style="float: right"
      class="dragao-header"
      src="{% static 'imagens/dragao-header-2.png' %}"
    />
  </header>
  <h1 class="text-center">Cadastrar Fichas para jogo</h1>
  <form enctype="multipart/form-data" action="submit" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="fichas">Aventuras</label>
        {{form | crispy}}
      </div>
      <div class = "form-group">
        <input type="hidden" id="levelhtml"  name="levelhtml">
        <button class = "button" type = "button" onclick="subtrair('level', 0)">-</button>
        Level <span id="level">1</span>
        <button class = "button" type = "button" onclick="adição('level', 0)" >+</button>
    </divclass></div>

    <br>
    <br>

    <div class = "form-group">
        <input type="hidden" id="sabedoriahtml"  name="sabedoriahtml">
        <button class = "button" type = "button" onclick="subtrair('sabedoria', 1)">-</button>
        Sabedoria <span id="sabedoria">0</span>
        <button class = "button" type = "button" onclick="adição('sabedoria', 1)" >+</button>

    </divclass></div>

    <br>
    <br>

    <div class = "form-group">
        <input type="hidden" id="conhecimentohtml"  name="conhecimentohtml">
        <button class = "button" type = "button" onclick="subtrair('conhecimento',2)">-</button>
        Conhecimento <span id="conhecimento">0</span>
        <button class = "button" type = "button" onclick="adição('conhecimento', 2)" >+</button>

    </divclass></div>

    <br>
    <br>

    <div class = "form-group">
        <input type="hidden" id="agilidadehtml"  name="agilidadehtml">
        <button class = "button" type = "button" onclick="subtrair('agilidade',3)">-</button>
        Agilidade <span id="agilidade">0</span>
        <button class = "button" type = "button" onclick="adição('agilidade', 3)" >+</button>

    </divclass></div>

    <br>
    <br>

    <div class = "form-group">
        <input type="hidden" id="destrezahtml"  name="destrezahtml">
        <button class = "button" type = "button" onclick="subtrair('destreza',4)">-</button>
        Destreza <span id="destreza">0</span>
        <button class = "button" type = "button" onclick="adição('destreza', 4)" >+</button>

    </divclass></div>

    <br>
    <br>

    <div class = "form-group">
        <input type="hidden" id="constfisicahtml"  name="constfisicahtml">
        <button class = "button" type = "button" onclick="subtrair('constituicao_fisica',5)">-</button>
        Constituição fsica <span id="constituicao_fisica">0</span>
        <button class = "button" type = "button" onclick="adição('constituicao_fisica', 5)" >+</button>

    </divclass></div>

    <br>


    <div class = "form-group">
        <input type="hidden" id="percepcaohtml"  name="percepcaohtml">
        <button class = "button" type = "button" onclick="subtrair('percepcao',6)">-</button>
        Percepção <span id="percepcao">0</span>
        <button class = "button" type = "button" onclick="adição('percepcao', 6)" >+</button>

    </divclass></div>

    <br>

    <div class = "form-group">
        <input type="hidden" id="carismahtml"  name="carismahtml">
        <button class = "button" type = "button" onclick="subtrair('carisma',7)">-</button>
        Carisma <span id="carisma">0</span>
        <button class = "button" type = "button" onclick="adição('carisma', 7)" >+</button>

    </divclass></div>

    <br>

    <div class = "form-group">
        Vitalidade <span id="vitalidadeId">0</span>
    </div>

    <br>
    <br>
    <div class = "form-group">
        Força <span id="forcaId">0</span>
   </div>

    <br>
    <br>
    <div class = "form-group">
        Luta <span id="lutaId">0</span>
    </div>

    <br>
      <div class = "form-group">
        Pontos Disponiveis <span id="pontos_disponiveisId">7</span>
      </div>
    <br>
    <br>
    <div class = "form-group">
        Pericias Disponiveis <span id="pericias_disponiveisId">0</span>
    </div>
    <button class="form-group" type="submit">Cadastrar</button>
  </form>
</body>
{% endblock %}
