
{% load static %}
<html>

<head>
  <title>Pericias</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{% static './imagens/logo-footer.png' %}" />
  <link rel="shortcut icon" type="image/jpg" href="{% static '.images/icone-minecraft-bookshelf.jpg' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <!-- linkando os arquivos de css e js-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-geral.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo-nav.css' %}" />
  <script defer src="{% static 'js/ficha.js' %}"></script>
</head>

<body class="special-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><img class="dragao-header" src="{% static './imagens/logo.png' %}"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barraNav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="barraNav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fichas<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/ficha/create/" target="_blank">Nova Ficha</a></li>
              <li><a href="/ficha/" target="_blank">Biblioteca de Fichas</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Bibliotecas<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/ficha/pericia/">Bliblioteca de Pericias</a></li>
              <li><a href="/ficha/equipamentos/">Bliblioteca de Equipamentos</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Sessões<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/ficha/aventuras/">Aventuras</a></li>
              <li><a href="/ficha/aventuras/register/">Criar</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Regras<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/home/introducao">Introdução ao jogo</a></li>
              <li><a href="/home/sobreSpaj">Sobre o SPAJ</a></li>
              <li><a href="/home/pericias">Perícias</a></li>
              <li><a href="/home/atributos">Atributos</a></li>
            </ul>
          </li>
        </ul>
        {% if user.id is not None %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#"> Usuário: {{user}}</a></li>
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
    {%for fichas in ficha %}
        <section>
            <h1 class="nome-personagem">{{fichas.id}}. {{fichas.nomePersonagem}}</h1> 
                    <aside class="vermelho"  style="width:20%">
                        <h3 class="p-aside special-p">Atributos</h3>
                        <p class="p-aside special-p">Percepção: {{fichas.Percepção}}</p>
                        <p class="special-p">Constituição: {{fichas.ConstFisica}}</p>
                        <p class="p-aside special-p">Força: {{fichas.Força}} </p>
                        <p class="p-aside special-p">Sabedoria: {{fichas.Sabedoria}} </p>
                        <p class="p-aside special-p">Conhecimento: {{fichas.Conhecimento}} </p>
                        <p class="p-aside special-p">Vitalidade: {{fichas.Vitalidade}}</p>
                        <p class="p-aside special-p">Carisma: {{fichas.Carisma}}</p>
                        <p class="p-aside special-p">Luta: {{fichas.Luta}}</p>
                        <p class="p-aside special-p">Agilidade: {{fichas.Agilidade}}</p>
                        <p class="p-aside special-p">Destreza: {{fichas.Destreza}}</p>
                    </aside> 
                    <h2 class="nome-personagem"style="padding-left:25%">Aventura: {{aventura}} </h2>
                    <div id="bloco" class="vermelho">
                        <h3 class="special-p">Características</h3>                
                        <p class="special-p">Nome: {{fichas.nomePersonagem}} </p>
                        <p class="special-p">Nível: {{fichas.Level}}</p>
                        <p class="special-p">História: {{fichas.historiaPersonagem}}</p>
                    </div>
                    
                    <div id="bloco" class="vermelho">
                        <h3 class="special-p">Pericias:</h3>
                        <br>
                        {%for pericias in pericia%}
                            <h4 class="special-p">{{pericias.nome_pericia}} bonus: {{bonus}}</h4>
                            <br>
                        {% endfor %}
                    </div>
                    <div id="bloco" class="vermelho">
                        <h3 class="special-p">Equipamentos</h3>
                        <p class="special-p">Equip 1</p>
                        <p class="special-p">Equip 1</p>
                        <p class="special-p">Equip 1</p>
                    </div>        
            </section>
        {% endfor %}   
        <footer style="color: black">
            <img style="margin-right: 5%;" class="dragao-fim" src="{% static './imagens/logo-footer.png' %}">
               SPAJ | 2022   
            <img style="margin-left: 5%;" class="dragao-fim" src="{% static './imagens/logo-footer.png' %}">
        </footer> 
    </body>
</html>




