{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre o SPAJ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'css/estilo-geral.css'%}">
</head>
<body>
    <header>
        <img style="margin-right: 8%;" class="dragao-header" src="{% static './imagens/logo.png' %}">
        SPAJ
        <img style="margin-left: 8%;" class="dragao-header" src="{% static './imagens/logo.png' %}">
            <nav>
                <ul>
                    <li><a href="/home/">Home</a></li>
                    <li><a href="regras">Regras</a></li>
                    <li><a href="sobreSpaj">Projeto SPAJ</a></li> <!--VERSAO PROFESSOR SOMENTE OU NA DO ALUNO TBM COM MENSAGEM DE ERRO-->
                </ul>
        </nav>
    </header>

    <section>
        
        <img class="dois-dados" src="{% static './imagens/vc tem dado em casa.png' %}">
        <h2>Projeto SPAJ</h2>
        <p class="txt-explica">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis optio sunt distinctio nisi ipsa harum libero. Vero eos explicabo blanditiis aliquam sed. Adipisci nam aliquid voluptates necessitatibus. Minus, ipsa magni.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ducimus sequi dicta voluptates, exercitationem maiores asperiores corporis quos deleniti, similique nihil qui sapiente libero voluptatum iste, itaque illo fuga! Blanditiis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad laudantium, sequi enim quis officia cupiditate deserunt maxime delectus, nihil recusandae, sit debitis repellat asperiores. A aliquid nemo vel recusandae. Accusantium?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, voluptatum molestias debitis earum soluta culpa reprehenderit autem inventore. Numquam at facere dolor necessitatibus nam quia voluptatum, commodi unde dolores dolorum!
        </p>
    </section>
    <footer>
        <img style="margin-right: 5%;" class="dragao-fim" src="{% static './imagens/logo-footer.png' %}">
           SPAJ | 2022   
        <img style="margin-left: 5%;" class="dragao-fim" src="{% static './imagens/logo-footer.png' %}">
    </footer> 
</body>
</html>