
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre o SPAJ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='estilo-geral.css'>
</head>
<body>
    <header>
        <img style class="dragao-header" src="./imagens/logo.png">
            SPAJ
            <img class="dragao-header" src="./imagens/logo.png">
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="regras.html">Regras</a></li>
                    <li><a href="introducao.html">Introdução ao Jogo</a></li> <!--VERSAO PROFESSOR SOMENTE OU NA DO ALUNO TBM COM MENSAGEM DE ERRO-->
                </ul>
        </nav>
    </header>

    <section>
        
        <img class="dois-dados" src="./imagens/vc tem dado em casa.png">
        <h2>Projeto SPAJ</h2>
        <p>
            SPAJ é a sigla para Sistema Pedagógico Aula-Jogo e é um projeto criado pelo professor de história Danilo Spinola Caruso, docente do IFRJ- campus Pinheiral. O objetivo do projeto é trazer uma perspectiva mais interativa e divertida da matéria, mas sem deixar de lado a parte didática.

            O SPAJ adota um sistema similar à um RPG (Role Playing Game), um jogo de interpretação onde os participantes interagem como os personagens que eles mesmos criam. Por esse motivo, a dinâmica do RPG tem potencial de ser uma ótima ferramenta de ensino, já que apresenta uma abordagem que abre espaço para uma imersão do aluno no contexto histórico da aula.

            Esse tipo de ferramenta já é bastante estudado e em alguns casos utilizado na prática para fins idáticos, porém sua implementação necessita de adaptações para ser aplicada em sala de aula. Seria um desafio impraticável controlar e administrar uma turma que normalmente tem 30 alunos para realizar um jogo tão complexo quanto um RPG. Tendo isso em vista, esse site foi desenvolvido para auxiliar o professor Danilo, bem como qualquer outro professor que por ventura queira utilizá-lo, à implementar o jogo-aula de forma mais prática e dinâmica.

            O site do SPAJ apresenta ferramentas de armazenamento de fichas, que unem as fichas de NPCs (personagens não jogáveis) e fichas PC's (personagens jogáveis), incluindo uma interação entre todas as fichas em relação à sua vitalidade. Por meio da página de combate é possível realizar essa interação, onde danos poderão ser aplicados de acordo com as ações dos jogadores e do mestre, sendo essa uma funcionalidade aparente somente para o professor. O site também apresenta dados das fichas criadas e o minímo valor de dados necessário para realizar determinadas ações. O site também apresenta sessões onde o professor pode separar suas fichas por turmas e limitar o número de personagens PC's por meio de logins limitados.
        </p>
    </section>
    <footer>
        <img style="margin-right: 5%;" class="dragao-fim" src="./imagens/logo-footer.png">
           SPAJ | 2022   
        <img style="margin-left: 5%;" class="dragao-fim" src="./imagens/logo-footer.png">
    </footer> 
</body>
</html>

