<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

button {
    background-color: #011C26;
    border-color: transparent;
}

body {
    background-color: #011C26;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #f2f2f2;
}

header {
    padding-bottom: 1%;
    padding-top: 2%;
    font-size: 35%;
    font-style: oblique;
    text-align: center;
}

header {
    color: #f2f2f2;
    font-size: 3rem;
    width: 100%;
    background-color: #881616;
    border-radius: 5px;
    border: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

aside {
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

footer {
    color: #f2f2f2;
    background-color: transparent;
    text-align: center;
    border: hidden;
    font-size: medium;
}

#txt-botao {
    text-align: left;
    float: left;
    margin-top: 10%;
}

.icon-play {
    float: left;
    width: 15%;
    height: 90%;
}

#img-ficha {
    width: 50%;
}

a {
    color: #881616;
}

p {
    margin: 0;
    padding: 3%;
    text-align: center;
    color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #f2f2f2;
}

h2 {
    color: #f2f2f2;
    text-align: center;
    /* enfeitar mais bonitinho (tentar ver a tag border)*/
}

h3 {
    text-align: center;
    color: #f2f2f2;
}

.botao-vermelho {
    background-color: #881616;
    color: #f2f2f2;
    border-color: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-aba {
    background-color: #881616;
    color: #f2f2f2;
    padding: 0.2%;
    font-size: 190%;
    text-align: center;
    border-radius: 5px;
    border: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1%;
}


.black-input {
    background-color: transparent;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #122C33;
}

.table>tbody>tr>td {
    border-color: transparent;
}

th,
td {
    text-align: center;
}

table {
    margin-right: 10%;
    width: 100%;
}

footer {
    color: #f2f2f2;
    background-color: transparent;
    text-align: center;
    border: hidden;
    font-size: medium;
    width: 100%;
}






/* botao + e - da tela de criação de fichas */

.botao-atrb {
    float: right;
    margin-right: 28%;
    color: #f2f2f2;
    width: 10%;
    background-color: #011C26;
    border-color: #881616;
    color: #881616;
    margin-left: 5%;
}

.botao-atrb-e {
    float: left;
    color: #f2f2f2;
    margin-right: 5%;
    margin-left: 28%;
    width: 10%;
    background-color: #011C26;
    border-color: #881616;
    color: #881616;
}

.btn-danger {
    background-color: #8b1616;
    border-color: #8b1616;
}






.input-info {
    width: 20%;
    height: 10%;
}

#titulo-site {
    width: 20%;
    margin-left: 45%;
    margin-right: 0;
    padding-top: 5%;
}

.nome-personagem {
    margin-top: 6%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-style: italic;
    color: black;
    border-style: double;
    border-color: #8b1616;

}

.special-p {
    color: black;
}

.special-body {
    background-color: #f2f2f2;
}

/* blocos estilizados */
.vermelho {
    border-style: double;
    border-color: #881616;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    margin-bottom: 1%;
    font-style: italic;
}

aside {
    margin-top: 9.6%;
}

.p-aside {
    padding-bottom: 5%;
}






.titulo {
    margin-right: 0%;
    color: #f2f2f2;
}

.titulo:hover {
    text-decoration: none;
    color: #f2f2f2;
    text-decoration: double;
}

.box-pts {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 3.0rem;

}

#forcaId,
#vitalidadeId,
#lutaId {
    margin-left: 2%;
    border: 2px solid #BF1111;
}

#pontos_disponiveisId,
#pericias_disponiveisId {
    font-size: 3.7rem;
    text-align: center;
    margin-top: 8%;
    width: 5%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid #BF1111;
}

.botao-transparente {
    color: #BF1111;
    background-color: #011C26;
    border: 1px solid #881616;
    margin: 4px;
    margin-top: 2%;
    border: 1px solid #BF1111;
    border-radius: 10px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-right: 3%;
    padding-left: 3%;
}

.box-span {
    text-align: center;
    font-size: 3.0rem;
    margin-top: 3%;
}

.spaj-link {
    color: #f2f2f2;
    text-decoration: none;

}

.spaj-link:hover {
    color: #f2f2f2;
    text-decoration: none;
}

/* estilizando a tela de combate */
#special-section {
    margin-top: 10%;
}

.button {
    color: #D42222;
    background-color: #011C26;
    border: 1px solid #881616;
    margin: 4px;
    margin-top: 2%;
    border: 1px solid #BF1111;
    border-radius: 10px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-right: 3%;
    padding-left: 3%;
}

.button:hover {
    color: #f2f2f2;
    background-color: #BF1111;
}

#TurnoDe {
    margin-top: 8%;
    font-size: 2.0rem;
    font-weight: 1.5px;
    font-style: oblique;
    background-color: #8b1616;

}

#selectEnemy {
    color: #f2f2f2;
    background-color: #8b1616;
    border: 1px solid #f2f2f2;
    margin: 4px;
    margin-top: 2%;
    border: 1px solid #BF1111;
    border-radius: 10px;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-right: 3%;
    padding-left: 3%;
}

#selectEnemy:hover {
    color: #f2f2f2;
    background-color: #BF1111;
}

#AtackEnemy {
    padding-top: 2%;
    font-size: 1.6rem;
}

input #dados {
    color: black;
}




/* get ficha estilização */







/* Responsividade com as media query */

@media only screen and (max-width:767px) {
    section {
        margin-top: 10%;
        ;
    }

    h2 {
        font-size: 170%;
        font-style: italic;
    }

    p {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 120%;
    }

    header {
        text-align: center;

    }

    .dragao-header2 {
        width: 10%;
    }

    .dois-dados {
        width: 50%;
        margin-bottom: 5%;
    }

    .dragao-fim {
        margin: 0;
        width: 13%;
    }

    .botao-vermelho {
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 10%;
        padding-bottom: 0%;
        text-align: center;
        width: 27%;
        height: 8%;
    }

    button {
        width: 80%;
        margin-top: 5%;
    }

    .gambiarra-botao {
        width: 80%;
    }

    #img-tela-1 {
        width: 60%;
        margin-left: 22%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #icon-play {
        margin-top: 3%;
        width: 35%;
    }

    footer {
        width: 90%;
        margin-left: 6%;
    }

    /* arrumando botões da ficha-register na versão mobile */
    .btn-danger {
        padding: 1% 0% 1% 0%;
    }
}

/* tela média 1 tablet */
@media only screen and (min-width:768px) and (max-width:991px) {
    h3 {
        margin-top: 5%;
    }

    p {
        font-size: 1.4rem;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

    .dragao-header2 {
        width: 10%;
    }

    .dragao-fim {
        width: 10%;
    }

    .btn-danger {
        padding: 1% 6% 1% 6%;
    }

    .botao-vermelho {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .dois-dados {
        width: 50%;
        margin-bottom: 5%;
    }

    #bloco {
        margin-right: 48%;
    }

    .special-p {
        font-size: 1.8rem;
    }

    #img-ficha {
        width: 35%;
    }
}

/* tela média 2 monitor pequeno */
@media only screen and (min-width:992px) and (max-width:1199px) {
    p {
        font-size: 1.4rem;
        margin-left: 4%;
        margin-right: 4%;
        text-align: center;
    }

    h3 {
        padding-top: 5%;
    }

    .dragao-header2 {
        width: 10%;
    }

    .dragao-fim {
        width: 9%;
    }

    .user-header {
        font-size: 1.5rem;
        margin-right: 2%;
        margin-top: 2%;
    }

    .btn-danger {
        padding: 1% 6% 1% 6%;
    }

    .dois-dados {
        width: 40%;
    }

    .botao-vermelho {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    #bloco {
        margin-right: 40%;
    }

    .special-p {
        font-size: 1.8rem;
    }
}

/* tela grande pc */
@media only screen and (min-width:1199px) {
    section {
        font-size: 1.8rem;

    }

    h3 {
        padding-top: 5%;
    }

    .dragao-header2 {
        width: 14%;
    }

    h2 {
        font-size: 3.0rem;
    }

    footer {
        margin: 0;
    }

    nav a {
        font-size: 1.4rem;
    }

    .user-header {
        font-size: 1.5rem;
        margin-right: 5%;
        margin-top: 3%;
    }

    .dragao-fim {
        width: 8%;
    }

    #img-tela-1 {
        margin-left: 35%;
        width: 30%;
        margin-bottom: 5%;
        margin-top: 3%;
    }

    .gambiarra-botao {
        width: 70%;
    }

    .botoes-index {
        margin-top: 4%;
        margin-left: 22%;
    }

    .dois-dados {
        width: 30%;
        margin-bottom: 5%;
    }

    .texto {
        font-size: 1.5rem;
        padding: 5%;
    }

    #bloco {

        margin-right: 30%;
    }

}











/* coisa do samuel. */

.iniciar {

    margin: 0;
    width: 30%;

}

.espadas {
    margin-top: 2.5%;
    width: 3%;
    height: 3.5%;
}

.armaduras {

    width: 3%;
    height: 3.5%;
}

.mochila {

    width: 3%;
    height: 3.5%;
}

h5 {
    text-align: center;
}

h6 {
    text-align: left;
}